<robot name="simple_cube">
  <link name="cube">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.1" />
      <inertia  ixx="0.017" ixy="0.0"  ixz="0.0"  iyy="0.017"  iyz="0.0"  izz="0.017" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1 1 1" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="cube">
    <material>Gazebo/Blue</material>
  </gazebo>
</robot>