<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find poppy_ergo_jr_moveit_config)/config/ros_controllers.yaml" command="load"/>


  <!-- Load the individual position controller for the gripper configuration-->

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" ns="/ergo_jr" output="screen"
          args="--namespace=/ergo_jr
          joint_state_controller
  	  m1_position_controller
  	  m2_position_controller
  	  m3_position_controller
  	  m4_position_controller
  	  m5_position_controller
  	  m6_position_controller
          --timeout 20"/>


</launch>
