<?xml version="1.0"?>
<launch>
  <arg name="paused" default="true"/>
  <arg name="gazebo_gui" default="true"/>

  <!-- startup simulated world -->
  <include file="$(find poppy_ergo_jr_gazebo)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="verbose" value="true"/>
  </include>

  <!-- send robot urdf to param server -->


  <include file="$(find poppy_ergo_jr_gazebo)/launch/load_ergo_model.launch">
    <arg name="gripper" value="$(arg gripper)"/>
    <arg name="lamp" value="$(arg lamp)"/>
  </include>

  <!-- <include file="$(find poppy_ergo_jr_gazebo)/launch/load_ergo_controllers.launch"/> -->
  <include file="$(find poppy_ergo_jr_gazebo)/launch/load_ergo_position_controllers.launch"/>

</launch>
